.route {
   padding-top: 42rem;
   position: relative;
   margin-bottom: 16.7rem;
   &__inner {
   }
   &__info {
      width: 28%;
      color: $white;
      position: relative;
      z-index: 4;
      &-title {
         font-weight: 600;
         font-size: 5rem;
         line-height: 110%;
         margin-bottom: 2.5rem;
      }
      &-text {
         font-size: 2.2rem;
         line-height: 135%;
         margin-bottom: 3.9rem;
      }
   }
   &__map {
      width: 120.7rem;
      height: 70rem;
      position: absolute;
      right: 0;
      top: 15rem;
      z-index: 3;
      & #contloc {
         width: 100%;
         height: 100%;
      }
   }
}
.route::after {
   position: absolute;
   content: '';
   width: 100%;
   height: 60.6rem;
   background-color: #292929;
   left: 0;
   top: 25rem;
   z-index: 1;
}


@media (max-width: 48em) {
   .route {
      padding-top: 11.5rem;
      margin-bottom: 8rem;
      &__info {
         width: 100%;
         &-title {
            font-size: 6rem;
            margin-left: -0.3rem;
            margin-bottom: 4.3rem;
         }
         &-text {
            font-size: 3.2rem;
            margin-left: -0.3rem;
            width: 94%;
         }
      }
      &__map {
         position: relative;
         width: 100%;
         height: 44rem;
         top: 8rem;
      }
   }
   .route::after {
      top: 0.5rem;
      height: 60rem;
   }
}