@font-face {
	font-family: 'EuclidCircularA';
	src: url('../fonts/EuclidCircularA-Regular.eot');
	src: local('☺'), 
	url('../fonts/EuclidCircularA-Regular.woff') format('woff'), 
	url('../fonts/EuclidCircularA-Regular.ttf') format('truetype'), 
	url('../fonts/EuclidCircularA-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'EuclidCircularA';
	src: url('../fonts/EuclidCircularA-SemiBold.eot');
	src: local('☺'), 
	url('../fonts/EuclidCircularA-SemiBold.woff') format('woff'), 
	url('../fonts/EuclidCircularA-SemiBold.ttf') format('truetype'), 
	url('../fonts/EuclidCircularA-SemiBold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'EuclidCircularA';
	src: url('../fonts/EuclidCircularA-Bold.eot');
	src: local('☺'), 
	url('../fonts/EuclidCircularA-Bold.woff') format('woff'), 
	url('../fonts/EuclidCircularA-Bold.ttf') format('truetype'), 
	url('../fonts/EuclidCircularA-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-Regular.eot');
	src: local('☺'), 
	url('../fonts/Circe-Regular.woff') format('woff'), 
	url('../fonts/Circe-Regular.ttf') format('truetype'), 
	url('../fonts/Circe-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/EuclidCircularA-Light.eot');
	src: local('☺'), 
	url('../fonts/EuclidCircularA-Light.woff') format('woff'), 
	url('../fonts/EuclidCircularA-Light.ttf') format('truetype'), 
	url('../fonts/EuclidCircularA-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-Bold.eot');
	src: local('☺'), 
	url('../fonts/Circe-Bold.woff') format('woff'), 
	url('../fonts/Circe-Bold.ttf') format('truetype'), 
	url('../fonts/Circe-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
