<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Dell - список страниц</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <style>
        body {
            font-size: 20px;
            line-height: 30px;
        }
        ul {
            list-style: none;
            margin: 50px 0 0 20px;
        }
        a {
            color: #33A9FF;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <ul>
        <li><a href="/dell/main.html">Главная страница(поиск в хэдэре)</a></li>
        <li><a href="/dell/catalog.html">Каталог</a></li>
        <li><a href="/dell/category.html">Каталог(Ноутбуки)(работающие кнопки сравнения, добавления, корзины)</a></li>
        <li><a href="/dell/news-list.html">Новости</a></li>
        <li><a href="/dell/news.html">Новость</a></li>
        <li><a href="/dell/faq.html">FAQ</a></li>
        <li><a href="/dell/contacts.html">Контакты</a></li>
        <li><a href="/dell/servicies.html">Сервисы</a></li>
        <li><a href="/dell/product-card.html">Карта товара</a></li>
        <li><a href="/dell/profile.html">Личный кабинет(хэдэр авторизированный пользователь)</a></li>
        <li><a href="/dell/checkout.html">Оформление заказа</a></li>
        <li><a href="/dell/comparison.html">Сравнение</a></li>
        <li><a href="/dell/delivery-and-payment.html">Доставка и оплата</a></li>
        <li><a href="/dell/favorite.html">Избранное</a></li>
        <li><a href="/dell/registration-entity.html">Регистрация(хэдэр авторизация)</a></li>
        <li><a href="/dell/shopping-cart.html">Корзина</a></li>
        <li><a href="/dell/user-order.html">Заказ</a></li>
        <li><a href="/dell/user-orders.html">Заказы</a></li>
        <li><a href="/dell/terms-of-action.html">Уловия акции</a></li>
    </ul>
</body>
</html>